<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="RestrictedPaths" value="C:\Windows,C:\System Volume Information,C:\Program Files,C:\Users,C:\$Recycle.Bin,C:\Documents,C:\Intel,C:\OneDriveTemp,C:\Recovery,D:\System Volume Information" />
	</appSettings>
</configuration>